In [33]:
import pandas as pd

In [49]:
x = 0
n = int(input("Enter an non-negative integer number: "))

if n<0:
  print("Please enter a number greater than 0")

Enter an non-negative integer number: 4

In [50]:
even = []
odd = []
fibo = [0,1]

for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [51]:
odd

[1, 3, 5, 7]

In [52]:
even

[0, 2, 4, 6]

In [53]:
fibo

[0, 1, 1, 2]

In [54]:
len(even) == len(odd) == len(fibo) #Test to check the len of the three lists

True

In [55]:
results = pd.DataFrame({'Even': even, 'Odd': odd, 'Fibonacci': fibo})
results

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2